
@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["returnUrl"];
}

<h1>Application Login</h1>
<p></p>

@this.GetType().Assembly.Location

@using (Html.BeginForm("Login"))
{
    <table class="table">
        <tr>
            <td>@Html.Label("Login")</td>
            <td>@Html.TextBox("username", "", new {@class="form-control"}) </td>
        </tr>
        <tr>
            <td>@Html.Label("Password"):</td>
            <td>@Html.Password("password", "", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" class="btn btn-outline-primary" /></td>
        </tr>
    </table>
    @Html.Hidden("returnUrl", returnUrl)
}

<hr>
&nbsp;&nbsp;or &nbsp;&nbsp;<a asp-action="GitHub" asp-controller="Home" class="btn btn-outline-primary">Log In with GitHub</a>

