@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Application Login</h1>
<p></p>



@if (Model.Failed)
{
    <div class="alert alert-danger" role="alert">
        <strong>@Model.Error</strong>
    </div>    
}


@using (Html.BeginForm("Login"))
{
    <table class="table">
        <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.TextBoxFor(m=>m.Email, new { @class = "form-control" }) </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password):</td>
            <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" class="btn btn-outline-primary" /></td>
        </tr>
    </table>
    @Html.HiddenFor(m => m.ReturnUrl)
}

<hr>
&nbsp;&nbsp;or &nbsp;&nbsp;<a asp-action="GitHub" asp-controller="Home" class="btn btn-outline-primary">Log In with GitHub</a>

